<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
<div class="card" style="width: 500px;">
    <div class="card-body">
        <div class="card-body text-center">
            <h1 class="card-title">Password reset for user:
                <p><b>{{ user.username }}</b></p></h1>

            <form method="post" action="http://localhost:8000/api/users/reset_password/{{ token }}">
                <div class="form-group">
                    <label for="new_password">New password:</label>
                    <input type="password" class="form-control" id="new_password" name="new_password" required>
                </div>

                <button type="submit" class="btn btn-warning btn-block">Change password</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
